@using Microsoft.AspNetCore.Antiforgery
@inject IAntiforgery Xsrf
@functions {
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BaselCoin2</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BaselCoin2.styles.css" asp-append-version="true" />
</head>
<body style="display: flex; flex-direction: column; height: calc(100vh - 60px)">
    <div class="container" style="align-self: stretch;">
        <header class="nav pt-3" style="align-items: center;">
            <a class="m-0 h1" asp-area="" asp-page="/Index" style="color: #222; text-decoration: none;">BaselCoin</a>
            <span style="flex: 1 1 auto;"></span>
            @if (User.Identity?.IsAuthenticated ?? false)
            {
                <a asp-area="Identity" asp-page="/Account/Manage/Index" style="padding-right: 1.2rem">Settings</a>
                <form method="post" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post" asp-antiforgery="true">
                    <button type="submit" class="btn btn-primary"  >Logout</button>
                </form>
            }
            else
            {
                <a asp-area="Identity" asp-page="/Account/Login">Log In</a>
            }
        </header>
    </div>

    <div style="display: flex; justify-content: center; align-items: center; margin: auto 0">
        <main role="main" class="pb-3" style="display: inline-flex; flex-direction: column; justify-content: center; min-width: 300px; width: 50vw">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - BaselCoin - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)

    @if (User.Identity?.IsAuthenticated ?? false)
    {

        <script>
            var inactivityTime = function () {
                var time;
                window.onload = resetTimer;
                // DOM Events
                document.onmousemove = resetTimer;
                document.onkeypress = resetTimer;

                function logout() {
                    // Send a POST request to the logout action
                    fetch('/Identity/Account/Logout', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded',
                            'RequestVerificationToken': "@GetAntiXsrfRequestToken()"
                        },
                        credentials: 'same-origin'
                    }).then(response => {
                        if (response.ok) {
                            window.location.href = '/';
                        } else {
                            console.error('Logout failed');
                        }
                    }).catch(error => {
                        console.error('Error:', error);
                    });
                }

                function resetTimer() {
                    clearTimeout(time); // 5 minutes
                    time = setTimeout(logout, 300000);
                }
            };

            inactivityTime();
        </script>
    }

</body>
</html>